@import "mixins.less";

@color-background: #e9edf0;

@color-blue: #469ced;
@color-blue-hovered: #02befc;
@color-blue-disabled: #738db0;

@color-green-loaded: #5dff7e;

@color-border: #c7d8e4;
@color-border-disabled: #adc0d9 transparent;
@color-arrow: #738db0;

@color-text: #4a6181;
@color-text-disabled: #a9bad0;
@color-text2: #31424f;
@color-label: #7e92ad;
@color-caption: #171c20;

@color-hovered: #caf1fe;
@color-checked: #dde5ea;
@color-breadcrumbs-back: @color-text;

@color-menu-item-highlight-color: @color-blue;
@color-menu-item--highlight-background: #d0ebff;
@color-button-hover-background: #ecf7ff;
@color-button-active-background: #ecf7ff;
@color-dialog-background: #92a0b3;
@color-content-background: white;
@color-error: #ff5f7f;
@color-special-value: #e0eef9;

@color-shadow: #c4d5df;
@shadow-1: 0 0 8px @color-shadow;
@shadow-dialog: 0 4px 16px rgba(0, 0, 0, .2);
